<tr class="song_row" id="<%= song.id %>">
  <td class="like_form"><%= render partial: 'shared/like_form', locals: { song: song } %></td>
  <td><%= song.title %></td>
  <td><%= link_to song.blog.name, blog_path(song.blog) %></td>
  <td><button class ="play_button" id=<%=song.stream_url%>>PLAY  </button></td>
</tr>

<script>
  $(".play_button").click(function(){
    var url = $(this).attr("id");
    play_song(url);
  });

  function play_song(url){
    $("#jquery_jplayer_1").jPlayer(
    {
      ready: function(){
        $(this).jPlayer("setMedia",{mp3: url}).jPlayer("play"); // Attempt to auto play the media
      },
      supplied: "mp3"
    });
  }
</script>
