<div class="ui-draggable">
  <tr class="song_row" id="<%= song.id %>">
    <td class="like_form">
      <%= render partial: 'shared/like_form', locals: { song: song } %>
    </td>
    <td>
      <%= song.title %>
    </td>
    <td>
      <div class="blink_<%=song.blog.id%>">
        <%= link_to song.blog.name, blog_path(song.blog) %>
      </div>
      <div>
        <%= render partial: 'shared/follow_form', locals: { blog: song.blog } %>
      </div>
    </td>
    <td>
      <button class ="play_button" id=<%=song.stream_url%>>PLAY  </button>
    </td>
    <td></td>
  </tr>
</div>

<script>
  $(".play_button").click(function(){
    var url = $(this).attr("id");
    play_song(url);
  });

  function play_song(url){
    $("#jquery_jplayer_1").jPlayer(
    {
      ready: function(){
          // Attempt to auto play the media
          $(this).jPlayer("setMedia",{mp3: url}).jPlayer("play");
      },
      supplied: "mp3"
    });
  }
</script>
