<tr class="song_row" id="<%= song.id %>">
  <td class="like_form"><%= render partial: 'shared/like_form', locals: { song: song } %></td>
  <td id='id'><%= song.id %></td>
  <td id='soundcloudid'><%= song.songid %></td>
  <td><%= song.title %></td>
  <td><button id="PLAY" onclick=" var id = $(this).parent().prev().prev().text();
                                  SC.whenStreamingReady(function(){
                                  var soundObj = SC.stream(id);
                                  soundObj.play(); });" >  PLAY  </button></td>
</tr>
