<tr class="song_row" id="<%= song.id %>">
  <td class="like_form"><%= render partial: 'shared/like_form', locals: { song: song } %></td>
  <td><%= song.title %></td>
  <td><%= song.blog.name %></td>
  <td><button class ="play_button" id=<%=song.stream_url%>
    onclick=" var id = $(this).attr('id');
    $('#jquery_jplayer_1').jPlayer({
    ready: function () {
    $('#jquery_jplayer_1').jPlayer('setMedia', {
      mp3: id,
      oga: id
      });
    },
    swfPath: '/js',
    supplied: 'mp3, oga'});"
    >PLAY  </button></td>
</tr>
