<li class="song_row" id="<%= song.id %>">
<div class="song_container">
  <div class="play_like">
    <span>
      <a class="play_button song_play not-playing"
        id=<%=song.stream_url%>>  </a>
    </span>
    <a class="like_form song_like ">
      <%= render partial: 'shared/like_form', locals: { song: song } %>
    </a>
  </div>
  <div class="title_artist">
    <div class="song_title">
      <%= song.title %>
    </div>
    <div class="song_artist">
       by   <%= song.artist %>
    </div>
  </div>
  <div class="blog song_blog">
    <div class="follow_form blog_follow">
      <%= render partial: 'shared/follow_form', locals: { blog: song.blog } %>
    </div>
    <div class="blog_name blink_<%=song.blog.id%>">
      <%= link_to song.blog.name, blog_path(song.blog) %>
    </div>
  </div>
</div>
</li>
