<li class="song_row" id="<%= song.id %>">
<div class="song_container">
  <div>
    <button class ="play_button" id=<%=song.stream_url%>>PLAY  </button>
  </div>
  <div class="like_form">
    <%= render partial: 'shared/like_form', locals: { song: song } %>
  </div>
  <div>
    <div>
      <%= song.title %>
    </div>
    <div>
      <%= song.artist %>
    </div>
  </div>
  <div class="blog">
    <div class="blink_<%=song.blog.id%>">
      <%= link_to song.blog.name, blog_path(song.blog) %>
    </div>
    <div class="follow_form">
      <%= render partial: 'shared/follow_form', locals: { blog: song.blog } %>
    </div>
  </div>
  <script src="http://connect.soundcloud.com/sdk.js" type="text/JavaScript"></script>
</div>
</li>

