<li class="song_row" id="<%= song.id %>">
<div class="song_container <%= if song.id.even?
                                 "even-song" else
                                 "odd-song" end%> ">
  <div class="play_like">
    <span>
      <a class="play_button song_play not-playing"></a>
      <p id="link_url" type="hidden"><%= song.stream_url %></p>
    </span>
    <a class="like_form song_like"/>
      <%= render partial: 'shared/like_form', locals: { song: song } %>
    </a>
  </div>
  <div class="title_artist">
    <div class="song_title">
      <%= song.title %>
    </div>
    <div class="song_artist">
      by   <%= song.artist %>
    </div>
  </div>
  <div class="song_blog">
    <div class="blog_name blink_<%=song.blog.id%>">
      <%= link_to song.blog.name, blog_path(song.blog) %>
    </div>
  </div>
</div>
</li>
