<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
    <title>SambaFm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div class="header_container">
        <a class= "logo"> ROWL </a>
        <% if user_signed_in? %>
        <div class="tab_header">
          <div class="tabs"><p href="#"> Most Popular </p> </div>
          <div class="tabs"><p href="#"> ur10  </p></div>
          <div class="tabs"><p href="#"> Blogger's favorites </p></div>
        </div>
      <%end%>
      </div>
    </div>
    <div class="container">
      <%= render 'shared/nav' %>
      <div class="content">

        <%= yield %>
      </div>
    </div>
    <div class="music_player">
      <%= render partial: 'shared/music-player' %>
    </div>
  </body>
</html>
